*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-shadow: none;
  outline: none;
}

body {
  background: #f5f5f5;
  font-family: 'Open Sans';
}

h1,
h2,
h3 {
  font-family: inherit;
}
